.copyright {
    
    .p-text{
        a {
            color: var(--gray-color);
            text-decoration: none;
            flex-direction: column;
    
            text-transform: uppercase;
            font-weight: 500;
    
            transition: all 0.3s ease-in-out;
    
            &:hover {
                color: var(--secondary-color);
            }
        }
    }
}